.mainslider{
   position: relative;
   overflow: hidden;
   height: auto;
    
}
.slide img {
   width: 100%;  
   height: auto;
   display: block;
}
.carousel-slides .slide {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: auto;
   opacity: 0;
   transition: opacity 2s ease;
}

.carousel-slides .slide.active {
   opacity: 1;
} 


