html,body {
   height: 100%;
   margin: 0;
   padding: 0;
  
 }
 body {
   display: flex;
   flex-direction: column;
 
 }
 
 .pop_ups p{ 
   font-size: 16px;  
   margin-bottom: 5px;
   line-height: 26px; 
   text-align: justify;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .pop_ups ul{
   margin-left: 30px;
   margin-bottom: 10px;
 }
 
 .pop_ups li{
   font-size: 16px;
   line-height: 24px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .translate{
  color: red;
 }
 
 .textsearch:first-child psmall{
   margin-left: 0;
 }
 
 main {
   flex-grow: 1;
 }
 
 * {
   box-sizing: border-box;
 }
 
 h3 {
   padding: 5px;
   margin: 0;
 }
 
 
 .row::after {
   content: "";
   clear: both;
   display: table;
 }
 
 [class*="col-"] {
   float: left;
   padding: 5px;
 }
 
 .col-1 {
   width: 8.33%;
 }
 
 .col-2 {
   width: 16.66%;
 }
 
 .col-3 {
   width: 25%;
 }
 
 .col-4 {
   width: 33.33%;
 }
 
 .col-5 {
   width: 41.66%;
 }
 
 .col-6 {
   width: 50%;
 }
 
 .col-7 {
   width: 58.33%;
 }
 
 .col-8 {
   width: 66.66%;
 }
 
 .col-9 {
   width: 75%;
 }
 
 .col-10 {
   width: 83.33%;
 }
 
 .col-11 {
   width: 91.66%;
 }
 
 .col-12 {
   width: 100%;
 }
 
 html {
   font-family: "Lucida Sans", sans-serif;
 }
 
 
 
 [class*="col-"] {
   width: 100%;
 }
 
 @media only screen and (min-width: 768px) {
 
   /* For desktop: */
   .col-1 {
     width: 8.33%;
   }
 
   .col-2 {
     width: 16.66%;
   }
 
   .col-3 {
     width: 25%;
   }
 
   .col-4 {
     width: 33.33%;
   }
 
   .col-5 {
     width: 41.66%;
   }
 
   .col-6 {
     width: 50%;
   }
 
   .col-7 {
     width: 58.33%;
   }
 
   .col-8 {
     width: 66.66%;
   }
 
   .col-9 {
     width: 75%;
   }
 
   .col-10 {
     width: 83.33%;
   }
 
   .col-11 {
     width: 91.66%;
   }
 
   .col-12 {
     width: 100%;
   }
 }
 
 @media only screen and (min-width: 600px) {
 
   /* For tablets: */
   .col-s-1 {
     width: 8.33%;
   }
 
   .col-s-2 {
     width: 16.66%;
   }
 
   .col-s-3 {
     width: 25%;
   }
 
   .col-s-4 {
     width: 33.33%;
   }
 
   .col-s-5 {
     width: 41.66%;
   }
 
   .col-s-6 {
     width: 50%;
   }
 
   .col-s-7 {
     width: 58.33%;
   }
 
   .col-s-8 {
     width: 66.66%;
   }
 
   .col-s-9 {
     width: 75%;
   }
 
   .col-s-10 {
     width: 83.33%;
   }
 
   .col-s-11 {
     width: 91.66%;
   }
 
   .col-s-12 {
     width: 100%;
   }
 }
 
 @media only screen and (max-width: 600px){ 
   .seek input[type="text"]{width: 70%;}
   .welk{width: 100%;}
   .sf{width: 80%;}
   .sw {text-align: center;}
   #headcross{display: none;}  
   footer{display: none;}
   .topadd{display: none;
   }
 
   #langForm{
     position: absolute;
     /* bottom:30px; */
     right: 10px;
   }
 
   
 
  .input-container {
    display: block;
    margin-bottom: 1px;  
    width: 100%;
    margin-bottom: 10px;   
  }
 
 #sear {
   position: absolute;
   top: 1px;
   /* left: 152px;
   width: 30px; */
 }
 
 .addbutton{
   position:relative;
   right: 0;
   float:right;
   padding: 7px 20px;
   font-size: 14px;
   color: #000000;
   background-color: #ffcd11;
   align-items: end;
 
 }
 
 
 .textsearch:first-child psmall {
   margin-left: 10px;
 }
  .textsearch {
    display: flex;
    width: 100%;
    align-items: center; 
    margin-bottom: 5px; 
    margin-left: 10px !important; 
  }
  .mb10{
   margin-bottom: 10px;
  }
  .textsearchflex{flex:1;}
 
  .textsearchflex2{flex:2;}
 
  .datesearchsince {
    display: block;
    margin-bottom: 1px;
   display: flex;
  }
 
  .datesearchto {
    display: block;
    margin-bottom: 1px;
   display: flex;
  } 
  .flexright {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: left;
  }
 }