.cardhome {
  position: relative;  
   max-width: 300px;
   margin: auto;
   padding: 10px;
   font-family: arial;
   position: relative;
   min-height: 400px;
  border: 1px solid #ffcd11;
 }

 .nowrap{
  white-space: nowrap; text-overflow: ellipsis; overflow-x: hidden;
 }
 
 .price {
   color: grey;
   font-size: 22px;
 }
 
 .cardhome button {
   border: none;
   outline: 0;
   padding: 12px;
   color: black;
   background-color: #ffcd11;
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 18px;
   position: absolute;
   bottom: 0;
   left: 0;
 }
 
 .cardhome:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border:none;
 }

.cardhome img {
  width: 100%;

  height: auto;
  /* or you can use percentages */
}

.cardhome p, h5{
  margin: 0;
  padding: 0;
  margin-bottom: 5px;  
}

.describehome{  
  background-color: #ffcd11;
  position: absolute;
  width: auto;
  margin: 0;
  bottom: 0;
  left:0;
  width: 100%;
  padding: 10px;
}
.describehome:hover{  
  background-color: black;
  color:#ffcd11 ;
  transition: linear .25s;
}

.brandcard{
    position: relative;
    max-width: 300px;
    margin: auto;
    padding: 10px;
    font-family: arial;    
    height: 350px;
    border: 1px solid #dddddd;
    text-align: center;
  }

   .home a{
    color: #333;
    }
  
  .brandcard:hover{   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.describebrand {  
  position: absolute;
  width: auto;
  margin: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.slogan{
  font-family:'Courier';
  font-size: 30px;
  text-align:center;
  /* font-weight: 100; */
   background-color: #011932; 
  /* border: 4px solid #b30000; */
  color:white;
  padding:10px;margin:1px;
 
}

 @media only screen and (max-width: 600px)
  {
    .mainslider{width: 100%;}
    .slogan{width: 100%;font-size: 14px;}
    footer{display:none}   
  }

  th{
    text-align: left;
  }
  .b{
    border: 1px solid;
  }
  .tc{
    text-align: center;
  }

    table {
      border-collapse: collapse;
      width: 100%;
    }
  
    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    .service img{
      text-align: center;
    }
    .p1{
      padding: 10px;
    }
    .contacte tr:hover{
      background-color: #dddddd;
    }

  .pager{
    padding: 40px 0 ;
    text-align: center;
    clear: both;
  }

.pager a{ 
  padding:0 10px;
  margin-right:1px;
  line-height: 40px;
  text-decoration: none;
  display:inline-block;
  background-color: #ffcd11; 
  border: 2px solid black; 
  color: black;
  border-radius: 5px;
}

.pager a:hover {
  background-color: black; 
  color: #ffcd11; 
  border: 2px solid #ffcd11;
}

.pager .active {
  background-color: black; 
  color: #ffcd11;
  border: 2px solid #ffcd11;
}